.lcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	background-color: #4a82d6;
	height: 90.2vh;
}
h5 {
	padding-bottom: 7rem;
}
